{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {#
     <form name="formSearch" method="post" action="">
         <p>
             <input type="checkbox" name="" id="searchMyTrip"> Mes sorties
         </p>
     </form>#}
    <div class="critSearch">
        <div class="radioSearch">
            <input type="radio" id="radioAll" name="radioSearch" class="" value="all" checked>
            <label for="radioAll"> Sorties du moment</label>
        </div>
        <div class="radioSearch">
            <input type="radio" id="radioOrganizer" name="radioSearch" class="" value="organizer">
            <label for="radioOrganizer"> Vos sorties</label>
        </div>
        <div class="radioSearch">
            <input type="radio" id="radioSub" name="radioSearch" class="" value="sub">
            <label for="radioSub"> Vos Inscriptions</label>
        </div>
        <button id="btn_rechercher" class="btnSearch">rechercher</button>
    </div>

        <div id="divResultSearch" class="row sortiesClass">
            {# boucle sur le tableau contenant les trips #}
            {% include 'trip/trip_list.html.twig' %}
        </div>
{% endblock %}
{% block javascripts %}
    <script>const ajaxUrl = "{{ path('trip_search') }}";</script>
    <script src="{{ asset('js/trips-search.js') }}"></script>
{% endblock %}
{% block title %}Sorties{% endblock %}